.main{
  width: 100%;
  height: 100vh;
  background-color:#05386B;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.centerDiv{
  width: 75%;
  height: 80vh;
  flex-direction: column;
  background-color: #5CDB95;
  border-radius: 15px;
  padding-top: 20px;
}
.inputField input{
  border:3px solid #05386B;
  background: transparent;
  margin-left: 5px;
  padding: 8px 20px;
  display: inline-block;
  box-sizing: border-box;
  width: 20%;
}
.inputField label{
  font-size: 22px;
  font-weight: 600;
  color: white;
  padding-right: 20px;
}
.myButton {
  margin: 20px;
	box-shadow: 0px 10px 14px -7px #05386B;
	background:linear-gradient(to bottom, #05386B 5%, #05386B 100%);
	background-color:#05386B;
	border-radius:8px;
  border-color: transparent;
	cursor:pointer;
	color:#ffffff;
  font:bold 18px Arial;
	padding:10px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  height: 8%;
}
.myButton:hover {
	background:linear-gradient(to bottom,#05386B  70%, #408c99 100%);
	background-color:#05386B;
}
.users{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: #EDF5E1;
  height: 525px;
  overflow-y: scroll;
}
::-webkit-scrollbar{
  display: none;
}

table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
}
tr{
  height: 20px !important;
}
td{
  border:1px solid #05386B;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #05386B ;
}
#demo{
  color: red;
}